fastapi
uvicorn
pinecone
rank-bm25
docling
google-generativeai
pydantic
pydantic-settings
redis
python-dotenv
langchain
langchain-core
langchain-google-genai
langchain-text-splitters
unstructured
pdf2image
pdfminer.six
pikepdf
pypdf
langgraph-checkpoint-sqlite
requests
